<form action="" method="post">
<p> Título:* </p>
 <input type="text" class="" name="titulo">
 
<p> Conteúdo:* </p>
<textarea name="conteudo" id="" cols="30" rows="10"></textarea>

<button type="submit" > Cadastrar Postagem </button>
 
</form>